<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.nju.software.jksc.symys" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.GamePanel"
            android:label="@string/title_activity_game_panel" >
        </activity>
        <activity
            android:name=".activities.SelectLevelActivity"
            android:label="@string/title_activity_select_level" >

        </activity>
        <activity
            android:name=".activities.LevelScoreActivity"
            android:label="@string/title_activity_level_score" >
        </activity>
        <activity
            android:name=".activities.ScoreActivity"
            android:label="@string/title_activity_score" >
        </activity>
        <activity
            android:name=".activities.ChooseLevelActivity"
            android:label="@string/title_activity_choose_level" >
        </activity>
        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/title_activity_choose_level" >
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
